<div class="border"></div>
<div class="copyright">
  Copyright 2023. Built with <a href="https://astro.build" target="_blank"
    >Astro</a
  >.
</div>

<style>
  .border {
    border: 1px solid black;
    margin: 1em 0;
  }
  .copyright {
    margin-bottom: 15px;
  }
</style>
