<nav>
  <h1><a href="/">Justin Wang</a></h1>
  <a href="/about">About</a>
</nav>

<div class="border"></div>

<style>
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .border {
    width: 100%;
    border: 1px solid black;
    margin-bottom: 1em;
  }
</style>
